.App {
  text-align: center;
  margin: 0 1rem;
}

.App-header {
  background-color: #193F5B;
  display: flex;
  justify-content: space-between;
}

.App-title {
  margin: 0;
}
.App-header > div {
  display: flex;
}
.App-header > div > a {
  color: #dcdcdc;
  align-self: center;
  text-decoration: none;
  margin: 0 1rem;
}

.App-header > div > a:hover {
  color: #9e9e9e;
}